<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa 04</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>

    {% for tarefa in tarefas %}
     
      {% if tarefa.prazo < hoje %}
        <p style="color: red;">
            {{ tarefa.nome }} - 
            {{ tarefa.status }} - 
            {{ tarefa.prazo }}
            (Atrasada)
        </p>
      {% else %}
        <p>
            {{ tarefa.nome }} - 
            {{ tarefa.status }} - 
            {{ tarefa.prazo }}
        </p>
      {% endif %}
    {% endfor %}
</body>
</html>