<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefa 04</title>
</head>
<body>
    
    {% for licao in licoes %}
   <p><strong>Nome:</strong> {{ licao.Nome }}</p>
        <p><strong>Status:</strong> {{ licao.Status }}</p>
        
        <p><strong>Prazo:</strong> 
            {{ licao.Prazo }}
            
            {% if licao.Prazo < hoje and licao.Status != 'concluída' %}
                <span style="color: red;"> Atrasado!</span>
    {% endif %}
  </p>
    {% endfor %}
</body>
</html>